<footer>
    <div class="container p-2">
        <div class="row mt-3">
            <div class="col-sm-6">
                <h5>Follow Us</h5><hr>
                <ul class="list-unstyled">
                    <li><a class=" text-dark text-decoration-none" href="#"><i class="fa fa-facebook-square" >&nbsp;</i>Facebook</a></li>
                    <li><a class=" text-dark text-decoration-none" href="#"><i class="fa fa-instagram" >&nbsp;</i>Instagramm</a></li>
                    <li><a class=" text-dark text-decoration-none" href="#"><i class="fa fa-twitter" >&nbsp;</i>Twitter</a></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h5>Contact Us</h5><hr>
                <ul class="list-unstyled">
                    <li><a class=" text-dark text-decoration-none" href="#"><i class="fa fa-envelope" >&nbsp;</i>example@gmail.com</a></li>
                    <li><a class=" text-dark text-decoration-none" href="#"><i class="fa fa-phone" >&nbsp;</i>09xxxxxxxxx</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
