<app-nav></app-nav>
<section id="pageOne" >
    <div class="text">
        <div class="container">
            <h1 class="text-center" >Our Service</h1><hr>
            <p class="text-center" >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem deserunt, natus nam et neque voluptas eligendi. Dolorem itaque eveniet voluptatibus corporis laudantium accusamus accusantium. Porro magnam ea ad fugiat in!</p>
            <div class="row mt-4">
                <div class="col-sm-3 text-center ">
                    <img src="../../assets/images/service/dog-care.png" alt="">
                    <h6>Pet Care</h6>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus accusamus dolore dolor dolorem, eius animi repellendus. Natus, autem veniam sed vel enim eveniet aspernatur impedit!.</p>
                </div>
                <div class="col-sm-3 text-center ">
                    <img src="../../assets/images/service/grooming.png" alt="">
                    <h6>Pet Grooming</h6>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus accusamus dolore dolor dolorem, eius animi repellendus. Natus, autem veniam sed vel enim eveniet aspernatur impedit!.</p>
                </div>
                <div class="col-sm-3 text-center ">
                    <img src="../../assets/images/service/pet-boarding.png" alt="">
                    <h6>Pet Boarding</h6>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus accusamus dolore dolor dolorem, eius animi repellendus. Natus, autem veniam sed vel enim eveniet aspernatur impedit!.</p>
                </div>
                <div class="col-sm-3 text-center ">
                    <img src="../../assets/images/service/sitting-dog.png" alt="">
                    <h6>Pet Sitting</h6>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus accusamus dolore dolor dolorem, eius animi repellendus. Natus, autem veniam sed vel enim eveniet aspernatur impedit!.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="triangle-pic ">
        <img src="../../assets/images/service/triangle.png" width="100%" height="100%" alt="">
    </div>
</section>
<section id="pageTwo" >
    <div class="container">
        <h1 class="text-center" >Why PUMP'S</h1>
        <hr>
        <div class="row mt-5">
            <div class="col-sm-3 text-center ">
                <h6>Here when you need us</h6>
                <p>Whether you're looking for daily walks, planning a trip, stuck at work, or just want your best friend to have some company — we offer any day, anytime care.</p>
            </div>
            <div class="col-sm-3 text-center ">
                <h6>Safety is serious business</h6>
                <p>Your dog's safety is our top priority. Every Pet Caregiver passes an enhanced background check, our services are insured, and support is standing by around the clock.
                </p>
            </div>
            <div class="col-sm-3 text-center ">
                <h6>All about convenience</h6>
                <p>We've thought of everything, so you don't have to. From GPS-tracked walks and customized lockboxes, to easy booking on the PUMP'S app, we make your life easier at every step.</p>
            </div>
            <div class="col-sm-3 text-center ">
                <h6>We've been around the block</h6>
                <p>PUMP'S has a trusted record of experience with over 12.1M pet care services across 5,300 cities and counting. More than 400,000 Pet Caregivers nationwide are dog people, and it shows.</p>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>