<app-nav></app-nav>
<section id="pageOne">
    <div class="container">
        <h1 class="text-center" >OUR TEAM</h1><hr>
        <div class="row mt-5">
            <div class="col-sm-3 d-flex justify-content-center align-items-center ">
                <div class="cards-profile">
                    <div class="img-holder">
                        <img  width="100%" height="100%" src="../../assets/images/team/angelo.jpg" alt="">
                    </div>
                    <div class="img-content">
                        <h6 class="text-white fw-bold" >Angelo Reyes</h6>
                        <p class="text-white">Main Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 d-flex justify-content-center align-items-center ">
                <div class="cards-profile">
                    <div class="img-holder">
                        <img  width="100%" height="100%" src="../../assets/images/team/mj.jpg" alt="">
                    </div>
                    <div class="img-content">
                        <h6 class="text-white fw-bold" >Mark Joseph Lucas</h6>
                        <p class="text-white">Developer support</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 d-flex justify-content-center align-items-center ">
                <div class="cards-profile">
                    <div class="img-holder">
                        <img  width="100%" height="100%" src="../../assets/images/team/mia.jpg" alt="">
                    </div>
                    <div class="img-content">
                        <h6 class="text-white fw-bold" >Mia Bernadette Cabagan</h6>
                        <p class="text-white">Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 d-flex justify-content-center align-items-center ">
                <div class="cards-profile">
                    <div class="img-holder">
                        <img  width="100%" height="100%" src="../../assets/images/team/jouana.jpg" alt="">
                    </div>
                    <div class="img-content">
                        <h6 class="text-white fw-bold" >Jouana Bondoc</h6>
                        <p class="text-white">Designer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
<!-- <div class="row">
    <div class="col-sm-3">
        <div class="cards-profile">
            <div class="img-holder">
                <img  width="100%" height="100%" src="../../assets/images/team/angelo.jpg" alt="">
            </div>
            <div class="img-content">
                <h6>Angelo Reyes</h6>
                <p class="">Main Developer</p>
            </div>
        </div>
    </div>
</div> -->
