<app-nav></app-nav>
<section id="pageOne" >
    <div class="pageOne-text d-flex justify-content-center align-items-center">
        <div class="text p-5 mt-3">
            <h1>YOUR PET CARE CENTER</h1>
            <p>Before you bring home your pet, be sure you're ready to take care of it properly.</p>
            <button>Read More <i class="fa fa-arrow-circle-o-right text-white" ></i> </button>
        </div>
    </div>
    <div class="pageOne-pic1"></div>
</section>
<section id="pageTwo">
    <div class="container">
        <h1 class="text-center" >Trust and Security</h1> <hr>
        <div class="row">
            <div class="col-sm-4 d-flex justify-content-center align-items-center ">
                <div class="text-center">
                    <img src="../../assets/images/home/verified.png" alt="">
                    <h5 class="text-center" >Vetted Pet Caregivers</h5>
                    <p>Each walker with <b>PUMP'S</b> has been through a comprehensive screening.</p>
                </div>
            </div>
            <div class="col-sm-4 d-flex justify-content-center align-items-center ">
                <div class="text-center">
                    <img src="../../assets/images/home/security.png" alt="">
                    <h5 class="text-center" >Backed by insurance</h5>
                    <p>Services booked on the <b>PUMP'S</b> platform may be protected with up to $1M property damage protection.</p>
                </div>
            </div>
            <div class="col-sm-4 d-flex justify-content-center align-items-center ">
                <div class="text-center">
                    <img src="../../assets/images/home/support.png" alt="">
                    <h5 class="text-center" >Anytime support</h5>
                    <p>Our Customer Success team is available to you and your pet 24/7.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="pageThree">
    <div class="pageThree-pic2 d-flex justify-content-center align-items-center" >
        <img src="../../assets/images/home/home-pic2.png" height="100%" width="100%" alt="">
    </div>
    <div class="pageThree-text d-flex justify-content-center align-items-center ">
        <div class="text">
            <div class="text p-5 mt-3">
                <h1>Animal lovers wanted!</h1>
                <p>Are you a dog lover with pet care experience?
                    Want to earn money working with dogs?
                    Learn more about becoming a dog walker, sitter, or trainer in your city.</p>
                <button>BECOME A WALKER <i class="fa fa-arrow-circle-o-right text-white" ></i></button>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
